.menucontainer {
    height: 50px;
    background-color: rgb(231, 158, 56);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
    border-bottom: px solid rgb(140, 96, 34);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
